#caidan {
				width: 1200px;
				height: 40px;
				background-color: #333;
			}
			
			#caidan div {
				display: inline-block;
				text-align: center;
				line-height: 40px;
				margin-left: 20px;
				position: relative;
				left: 60px;
				color: floralwhite;
			}
			
		   #caidan div:hover {
				color: red;
			}